.custom-bottom-menu
{
    position: fixed;
    bottom: 0;
    width: 100% !important;
    /* padding:10px; */
}

.container
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.brand-logo
{
    font-size: 1.5rem !important;
}

nav{
    height: 50px;
    line-height: 50px;
}

nav.custom-top-nav
{
    position: fixed;
    top: 0;
}

.tab>a
{
    padding: 10px !important;
    color:#00b0ff !important;
    
    
}
.material-icons
{
    font-size: 30px;
}


